<h1>Main Page - Cocktail Search</h1>
<%= link_to '칵테일 리스트', cocktails_path %>
<%= link_to '새 칵테일', new_cocktail_path %>

<%= link_to '맞춤 칵테일', cocktails_recommend_path %>
<%= link_to '검색 결과', cocktails_search_result_path %>

<a href = "account/index">계정</a>