{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1477,"scrollleft":0,"selection":{"start":{"row":130,"column":74},"end":{"row":130,"column":74},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":122,"state":"start","mode":"ace/mode/text"}},"timestamp":1622745886654,"hash":"31b6cedf2ca4f1075d04722f6d90255cfbfb7630"}