@import "/reset.css";

* {
  font-family: "Jua";
}
nav {
  background-color: white;
  overflow: hidden;
}

nav .nav_logo {
  float: left;
  width: 130px;
  margin: 20px 0;
  padding-left: 3%;
}
nav .nav_menu {
  float: right;
  overflow: hidden;
  height: 100px;
  margin: 10px 0;
  margin-right: 2%;
}
nav .nav_menu li {
  float: left;
  margin: 45px 13px;
  list-style: none;
}
nav .nav_menu li a {
  text-decoration: none;
  color: #b1b1b1;
  font-size: 16px;
}
nav .nav_menu li a:hover,
nav .nav_menu li a:focus {
  color: #f3553c;
}

.main {
  height: 1045px;
  position: relative;
}

.line {
  height: 65px;
  background-color: #f3553c;
  text-align: center;
  align-items: center;
  color: #ffffff;
}

.cocktail {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 950px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.floor2 {
  width: 100%;
  height: 600px;
}

.left {
  width: 40%;
  height: 600px;
  position: relative;
  float: left;
}

.right {
  width: 60%;
  height: 600px;
  position: relative;
  float: left;
}

.name {
  width: 95%;
  padding-left: 5%;
  margin-top: 20px;
  color: #101010;
  font-size: 58px;
  text-align: left;
}

.photo {
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-image: url("img/330_1.jpg");
  border-radius: 50px;
  box-shadow: 5px 5px 10px #b1b1b1;
  padding: 0%;
}
.photo img{
  width:70%;
  margin-left: 15%;
}
.like {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100px;
  margin-top: 30px;
  font-size: 20px;
  color: #101010;
}

.heart {
  position: relative;
  float: left;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5px;
  width: 12%;
  font-size: 20px;
  color: #101010;
}

.likebutton {
  position: relative;
  float: left;
  margin-left: 5%;
  margin-right: 32%;
  width: 36%;
  font-size: 20px;
  color: #f3553c;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px #b1b1b1;
  border-radius: 50px;
  align-items: center;
  text-align: center;
  border: none;
}

.likebutton:focus {
  background-color: #ffdad0;
  box-shadow: 2px 2px 10px #b1b1b1;
  font-size: 20px;
  border-radius: 50px;
}

.button:hover {
  background-color: #ffdad0;
  cursor: pointer;
  box-shadow: 2px 2px 10px #b1b1b1;
}

.tag {
  width: 100%;
  text-align: left;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 20px;
}

.detailtag {
  padding: 5px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #b1b1b1;
}

.detail {
  width: 100%;
  text-align: left;
  height: 250px;
  font-size: 26px;
}

.title {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #f3553c;

  line-height: 62px;
}

.value {
  position: relative;
  float: left;
  width: 80%;
  height: 100%;
  color: #101010;

  line-height: 62px;
}

.username {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #f3553c;

  line-height: 40px;
}

.text {
  position: relative;
  float: left;
  width: 80%;
  height: 100%;
  color: #101010;

  line-height: 40px;
}

.tequila {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 55%;
  left: 22%;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tequila img {
  margin-top: 6px;
  padding: 0 0 0 0;
  width: 30px;
  height: 30px;
  filter: invert(76%) sepia(51%) saturate(302%) hue-rotate(356deg)
    brightness(89%) contrast(96%);
}

.tropical {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 80%;
  left: 22%;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #b1b1b1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tropical img {
  margin-top: 6px;
  padding: 0 0 0 0;
  width: 30px;
  height: 30px;
  filter: invert(86%) sepia(37%) saturate(6635%) hue-rotate(312deg)
    brightness(99%) contrast(77%);
}

.recipe-information {
  width: 100%;
  text-align: left;
  height: 250px;
  font-size: 26px;
  line-height: 41px;
}
.information{
  
}
.recipe{
  
}
.orange {
  color: #f3553c;
}

.floor1 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-top: 0px;
  height: 310px;
  background-color: #ffdad0;
  border-radius: 15px;
  font-size: 20px;
}

.myreview {
  background-color: #ffffff;
  width: 85%;
  height: 20px;
  padding: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.review {
  width: 10%;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 90%;
  font-size: 20px;
  color: #ffffff;
  background-color: #f3553c;
  box-shadow: 2px 2px 10px #b1b1b1;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  border: none;
}

.review:focus {
  background-color: #ffdad0;
  box-shadow: 2px 2px 10px #b1b1b1;
  font-size: 20px;
  border-radius: 15px;
}

.review:hover {
  background-color: #ffdad0;
  cursor: pointer;
  box-shadow: 2px 2px 10px #b1b1b1;
}

.delete {
  width: 60px;
  height: 25px;
  position: absolute;
  top: 48px;
  left: 25%;
  font-size: 20px;
  color: #ffffff;
  background-color: #808080;
  box-shadow: 2px 2px 10px #b1b1b1;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  border: none;
}

.delete:focus {
  background-color: #b1b1b1;
  box-shadow: 2px 2px 10px #b1b1b1;
  font-size: 20px;
  border-radius: 15px;
}

.delete:hover {
  background-color: #b1b1b1;
  cursor: pointer;
  box-shadow: 2px 2px 10px #b1b1b1;
}

footer {
  background-color: #f3553c;
  height: 85px;
  border: 1px solid #f3553c;
}

footer .creators {
  color: white;
  font-size: 14px;
  margin: 35px 0 35px 15px;
}
